<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palindrome</title>

    <style>
        *{

            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }

        body, form{

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 100vh;
            background-color: #393646;
        }

        form{
    
            max-width: 100%;
        }

        input{

            margin-bottom: 15px;
            padding: 10px;
            width: 100%;
            text-align: center;
            font-size: 1.3rem;
        }

        button{

            background-color: green;
            border: none;
            color: white;
            padding: 10px;
            font-size: 1.2rem;
            min-width: 60%;
            margin-bottom: 40px;
        }

        button:hover{

            background-color: yellowgreen;
            color: black;
            cursor: pointer;
        }

        h3{

            color: #F4EEE0;
        }


    </style>
</head>
<body>
    <form action="/" method="post">
        <input type="text" name="word" id="text" autocomplete="off" placeholder="Enter a word or a number.">
        
        <button type="submit" class="btn-submit">Submit</button>

        <h3>
            <%= palindromeOrNot %>
        </h3>   
    </form>
</body>
</html>